body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	font-size: 11px;
	color: black;
	overflow: hidden;
    width: 1920px;
    height: 1080px;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
}

.table_wrapper {
	background: white;
	width: 1455px;
	position: absolute;
	left: 237px;
	top: 62px;
	height: 904px;
	overflow: scroll;
}

table {
	border-collapse: collapse;
	box-sizing: border-box;
	font-size: 11px;
	width: 1455px;
}

td,
th {
	text-align: left;
	position: relative;
	border-bottom: none;
	border-right: 1px solid rgb(229, 229, 229);

}

th {
	line-height: 22px;

}

thead {
	position: sticky;
	top: 0px;
	z-index: 10;
	background: white;
}
td {
	border-right: 1px solid rgb(200, 200, 200) !important;
}

.table_row_gerade {
	background: rgb(255, 255, 150);
}

.table_row_ungerade {
	background: rgb(210, 210, 210);
}

table,
th,
td {
	height: 12px;
}

tr {
	line-height: 12px;
}

.resize_bar {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 5px;
	cursor: col-resize;
	background: red;
	user-select: none;
	z-index: 10;
}

#pic1 {
	background-image: url("../media/background.png");
	width: 224px;
	height: 1047px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#pic2 {
	background-image: url("../media/background_2.png");
	height: 59px;
	width: 1694px;
	left: 224px;
	top: 0px;
	position: absolute;
}

.new_search_option, .search_option {
	position: absolute;
	width: fit-content;
	height: fit-content;
	right: 92px;
	overflow: hidden;
}

.add_ctrl {
	background-image: linear-gradient(rgb(221, 244, 255), rgb(221, 244, 255));
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	border-color: rgba(84,174,255,0.4);
	z-index: 10;
	position: absolute;
	width: 95px;
	height: 100px;
	right: 92px;
	height: 50px;
	top: 61px;
	cursor: pointer;
}

.add_ctrl:hover {
	transition: 1s;
	background-image: linear-gradient(rgb(221, 233, 255), rgb(221, 233, 255));
}

.add_ctrl_text {
	position: relative;
	margin: auto;
	width: fit-content;
	height: fit-content;
	top: 50%;
	transform: translateY(-50%);
}