table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 15px;
	font-size: 10pt;
}

table > thead {
	position: sticky;
	top: 0;
	background: black;

}

button {
    height: 60px;
    width: 190px;
}

  /* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
	padding-top: 102px;
  }