	body {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-weight: 500;
		font-size: 11px;
	}
	/* The Modal (background) */
	.modal {
		display: none;
		/* Hidden by default */
		position: fixed;
		/* Stay in place */
		z-index: 1;
		/* Sit on top */
		left: 0;
		top: 0;
		width: 100%;
		/* Full width */
		height: 100%;
		/* Full height */
		overflow: auto;
		/* Enable scroll if needed */
		background-color: rgb(0, 0, 0);
		/* Fallback color */
		background-color: rgba(0, 0, 0, 0.4);
		/* Black w/ opacity */
		padding-top: 60px;
	}

	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		padding: 40px;
		margin: 5% auto 15% auto;
		/* 5% from the top, 15% from the bottom and centered */
		border: 1px solid #888;
		width: 60%;
		/* Could be more or less, depending on screen size */
	}

	/* Modal Content/Box */
	.modal-content-100 {
		padding: 60px;
		background-color: #fefefe;
		/* 5% from the top, 15% from the bottom and centered */
		border: 1px solid #888;
		/* Could be more or less, depending on screen size */
	}


	/* Add Zoom Animation */
	.animate {
		-webkit-animation: animatezoom 0.6s;
		animation: animatezoom 0.6s
	}

	@-webkit-keyframes animatezoom {
		from {
			-webkit-transform: scale(0)
		}

		to {
			-webkit-transform: scale(1)
		}
	}

	@keyframes animatezoom {
		from {
			transform: scale(0)
		}

		to {
			transform: scale(1)
		}
	}

	/* Full-width input fields */
	input[type=text],
	input[type=password],
	input[type=number],
	select {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
	}

	.notsaved {
		background-color: lightgrey !important;
	}

	.saveAllButton {
		position: fixed;
		top: 100%;
		left: 100%;
		transform: translate(-130%, -150%);
	}

	.additionalInfoDiv {
		border: 1px solid #d73a49;
		padding: 25px;
		margin: 0px 40px 40px 40px;
		border-radius: 6px;
	}

	.basicInfoForElement {
		border: 1px solid #2ea44f;
		padding: 25px;
		margin: 0px 0px 10px 0px;
		border-radius: 6px;
	}

	.tooltip {
		position: relative;
		display: inline-block;
		border-bottom: 1px dotted black;
	}

	.tooltip .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: #555;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -60px;
		opacity: 0;
		transition: opacity 0.3s;
	}

	.tooltip .tooltiptext::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: #555 transparent transparent transparent;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}

	.text_of_element {
		width: fit-content;
	}

	.OK-Button:hover {
		background-color: rgb(45, 156, 77);
	}

	.OK-Button {
		appearance: none;
		background-color: rgb(45, 159, 78);
		border-bottom-color: rgba(27, 31, 35, 0.15);
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-image-outset: 0;
		border-image-repeat: stretch;
		border-image-slice: 100%;
		border-image-source: none;
		border-image-width: 1;
		border-left-color: rgba(27, 31, 35, 0.15);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: rgba(27, 31, 35, 0.15);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: rgba(27, 31, 35, 0.15);
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border-top-style: solid;
		border-top-width: 1px;
		box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
		box-sizing: border-box;
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: inline-block;
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
		font-feature-settings: normal;
		font-kerning: auto;
		font-language-override: normal;
		font-optical-sizing: auto;
		font-size: 14px;
		font-size-adjust: none;
		font-stretch: 100%;
		font-style: normal;
		font-variant: normal;
		font-variant-alternates: normal;
		font-variant-caps: normal;
		font-variant-east-asian: normal;
		font-variant-ligatures: normal;
		font-variant-numeric: normal;
		font-variant-position: normal;
		font-variation-settings: normal;
		font-weight: 500;
		line-height: 20px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		overflow: visible;
		overflow-wrap: break-word;
		overflow-x: visible;
		overflow-y: visible;
		padding-bottom: 5px;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 5px;
		position: relative;
		text-decoration: rgb(255, 255, 255);
		text-decoration-color: rgb(255, 255, 255);
		text-decoration-line: none;
		text-decoration-style: solid;
		text-decoration-thickness: auto;
		transition-delay: 0s;
		transition-duration: 0.1s;
		transition-property: color, background-color, border-color;
		transition-timing-function: cubic-bezier(0.3, 0, 0.5, 1);
		user-select: none;
		vertical-align: middle;
		white-space: nowrap;
	}

	.Cancel-Button:hover {
		color: rgb(250, 251, 252) !important;
		background-color: rgb(215, 58, 73) !important;
	}
	.Cancel-Button {
		appearance: none;
		background-color: rgb(250, 251, 252);
		border-bottom-color: rgba(27, 31, 35, 0.15);
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-image-outset: 0;
		border-image-repeat: stretch;
		border-image-slice: 100%;
		border-image-source: none;
		border-image-width: 1;
		border-left-color: rgba(27, 31, 35, 0.15);
		border-left-style: solid;
		border-left-width: 1px;
		border-right-color: rgba(27, 31, 35, 0.15);
		border-right-style: solid;
		border-right-width: 1px;
		border-top-color: rgba(27, 31, 35, 0.15);
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border-top-style: solid;
		border-top-width: 1px;
		box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
		box-sizing: border-box;
		color: rgb(215, 58, 73);
		cursor: pointer;
		display: block;
		float: right;
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
		margin-left: 16px;
		overflow-wrap: break-word;
		padding-bottom: 5px;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 5px;
		position: relative;
		transition-delay: 0s;
		transition-duration: 0.2s;
		transition-property: color, background-color, border-color;
		transition-timing-function: cubic-bezier(0.3, 0, 0.5, 1);
		user-select: none;
		vertical-align: middle;
		white-space: nowrap;
	}

	.helpButton {
		width: 30px;
		position: fixed;
		top: 10px;
		left: 100%;
		transform: translate(-140%, 20%);
		cursor: pointer;
		z-index: 10;
	}

	.keybindingStyle {
		border: 1px solid #aaa;
		border-radius: 0.2em;
		box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.1);
		background-color: #f9f9f9;
		background-image: linear-gradient(to bottom, #eee, #f9f9f9, #eee);
		color: #000;
		padding: 0.1em 0.3em;
		font-family: inherit;
		font-size: 0.85em;
	}

	.marked_for_group_drag {
		background-color: #d73a49 !important;
	}

	.DRAG_AREA {
		border: 1px dotted red;
	}

	.new_feature {
		background-image: linear-gradient(rgb(219, 237, 255), rgb(219, 237, 255));
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-style: solid;
		border-left-width: 1px;
		border-right-style: solid;
		border-right-width: 1px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border-top-style: solid;
		border-top-width: 1px;
		box-sizing: border-box;
		color: rgb(36, 41, 46);
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
		font-size: 14px;
		line-height: 21px;
		list-style-type: none;
		margin-bottom: 16px;
		margin-top: 16px;
		overflow-wrap: break-word;
		padding-bottom: 20px;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 20px;
		position: relative;
	}

	.UI_VISIBLE {
		display: block !important;
	}

	.UI_INVISIBLE {
		display: none !important;
	}

	.ACTIVE_PAGE_BUTTON {
		background-color: green !important;
	}